@using GameStore.Application.UseCases.Carts;

@{
    Layout = "_Layout";
}

@model CartResponse;

<div>
        <div class="header-price text-white">
              <div style="display:flex; gap:5px">
                 <h3>Your Cart</h3>
            </div>
        <div style="display:flex; align-items:center; gap:25px">
            <h2>Total: $@string.Format("{0:0.00}", Model.CartItems.Sum(item => item.Game.Price * item.Count)) </h2>
                <a href="@Url.Action("CreateOrder","Order")" class="proceed-btn btn text-white">
                  Proceed
                </a>
            </div>
        </div>

    <div style="padding-top:35px; font-size: 28px;">
        <!-- Increase the font size here -->
        <table class="table text-white">
            <tbody>
                @foreach (var cartItem in Model.CartItems)
                {
                    <tr class="table-section">
                        <td colspan="2">
                            <img src="~/@cartItem.Game.Picture" alt="@cartItem.Game.Name" class="img-fluid" />
                        </td>

                        <td class="" style="text-align: left; ">
                            <div>
                                <span style="font-size: 20px;">@cartItem.Game.Name</span>
                            </div>
                            <div>
                                <span style="font-size: 45px;">$@string.Format("{0:0.00}", cartItem.Game.Price)</span>
                            </div>
                        </td>

                        <td>
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <button type="button" class="btn btn-success rounded-left" style="width: 80px; height: 80px; font-size: 50px;">-</button>
                                <button type="button" class="btn btn-success" style="width: 80px; height: 80px; font-size: 50px;">@cartItem.Count</button>
                                <button type="button" class="btn btn-success rounded-right" style="width: 80px; height: 80px; font-size: 50px;">+</button>
                            </div>
                        </td>

                        <td class="" style="text-align: left;">
                            <div>
                                <span style="font-size: 20px;">Total:</span>
                            </div>
                            <div>
                                <span style="font-size: 45px;">$@string.Format("{0:0.00}", cartItem.Count * cartItem.Game.Price)</span>
                            </div>
                        </td>

                        <td class="action-links">
                            <div style="display:flex; gap:5px">
                                <a href="@Url.Action("DeleteCartItem", "CartItem", new { id = cartItem.Id })">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 0 384 512">
                                        <style>
                                            svg {
                                                fill: #e4e7ec;
                                            }
                                        </style>
                                        <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s-32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                                    </svg>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>

