@using GameStore.Application.UseCases.Carts;

@{
    Layout = "_Layout";
}

@model CartResponse;

<div>

 <div class="row">
        <div class="colead text-white" style="position:relative;">
            <div class="input-group mb-1 mt-3" style="display:flex; justify-content:space-around; gap:20px; position:relative;">
                 <div style="display:flex; gap:5px">
                <h3>Your Cart</h3>
            </div>
            <div style="display:flex; gap:5px">
                <h2>Total: $@Model.CartItems.Sum(item => item.Game.Price * item.Count) </h2>
                <a href="@Url.Action("CreateOrder","Order")" class="btn btn-primary mr-2">
                    <i class="fa-solid fa-plus"></i> Proceed
                </a>
            </div>
        </div>
    </div>
</div>

 <div style="padding-top:35px; display:flex; justify-content:space-between;">
    <table class="table text-white">
      <tbody>
        @foreach (var cartItem in Model.CartItems)
        {
            <tr>
                <td>
                   <img src="~/@cartItem.Game.Picture" alt="@cartItem.Game.Name" class="img-fluid w-25 h-25" />
                    @cartItem.Game.Name
                </td>
                <td>@cartItem.Game.Price</td>
                <td>@cartItem.Count</td>
                <td>@(cartItem.Count * cartItem.Game.Price)</td>
            </tr>
        }
      </tbody>
    </table>
</div>

</div>

