@using GameStore.Domain.Entities.Identity;
@using Microsoft.AspNetCore.Identity
@using GameStore.Application.UseCases.Games;
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


@{
    Layout = "_Layout";
}

@model GameResponse

<div class="move-margin">
    <div class="card text-white border-0" style="background-color: #1e1e1e; width: 100%;">
        <div class="image-container-views">
            <img src="~/@Model.Picture" alt="@Model.Name" class="img-fluids" />
        </div>
        <div class="info-box-body">
            <div class="row">
                <div class="col-9">
                    <p class="text-price lead card-text" style="font-weight:bold;">@Model.Name</p>
                    <p class="display-6">$@string.Format("{0:0.00}", Model.Price)</p>
                </div>
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                    }
                    else
                    {
                        <div class="buy-btn-container">
                            <a href="#" class="btn btn-success buy-game" style="font-size:20px; padding:10px 20px;" data-game-id="@Model.Id" data-user-id="@UserManager.GetUserId(User)">BUY</a>
                        </div>
                    }
                }
                else
                {
                    <div class="buy-btn-container">
                        <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Login">BUY</a>
                    </div>
                }
            </div>
            <hr />
            <p>
                @foreach (var genre in Model.Genres)
                {
                    <button class="hidden-corners-button">@genre.Name</button>
                }
            </p>
            <br />
            <div class="row">
                <h6 class="thin-version">@Model.Description</h6>
            </div>
            <br />
            @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Manager")))
            {
                <div class="row">
                    <div class="col-3">
                        <a href="@Url.Action("UpdateGame", new { id = @Model.Id })" class="btn btn-info">Edit Game</a>
                    </div>
                    <div class="col-3">
                        <a href="@Url.Action("DeleteGame", new { id = @Model.Id })" class="btn btn-danger">Delete Game</a>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-5 text-white" style="background-color: #1e1e1e;">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="game-comment-container" id="comment-container">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <button class="btn btn-primary comment-button" data-game-id="@Model.Id">Comment</button>
                        <div class="comment-input-container" style="display: none;">
                            <input type="text" class="form-control mt-2 mb-2" id="commentInput" placeholder="Write a comment..." />
                            <div class="input-group-append">
                                <button class="btn btn-primary" id="saveCommentBtn" data-game-id="@Model.Id" style="margin-right:5px;">Save</button>
                                <button class="btn btn-secondary cancel-comment-btn">Cancel</button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Comment</a>
                    }
                    <ul class="comment-list  comment-top" list="@Model.Comments" count="0">
                        @foreach (var comment in Model.Comments.Where(comment => comment.ParentComment is null))
                        {
                            <div class="comment" style="margin-top: 30px;">
                                <div class="d-flex flex-start mt-4">
                                    <a class="me-3" href="#!">
                                        @if (comment.User.Photo is not null)
                                        {
                                            <img src="/Uploads/@comment.User.Photo" style="width: 42px; height: 48px; border-radius: 50%;" />
                                        }
                                        else
                                        {
                                            <img src="/static-images/default.jpg" style="width: 42px; height: 48px; border-radius: 50%;" />
                                        }
                                    </a>
                                    <div class="flex-grow-1 flex-shrink-1">
                                        <div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="mb-1">
                                                    @comment.User.FirstName @comment.User.LastName
                                                    <span>@comment.Created</span>
                                                </p>
                                            </div>
                                            <p class="small mb-0">@comment.Text</p>
                                        </div>
                                        <div>
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                <a aria-expanded="false" href="#" class="reply-btn btn text-primary" data-toggle="collapse" data-target="#replyComment@(comment.Id)">Reply</a>
                                                @if (comment.User.Id == UserManager.GetUserId(User))
                                                {
                                                    <a aria-expanded="false" href="#" class="edit-btn btn text-primary" data-toggle="collapse" data-target="#editComment@(comment.Id)">Edit</a>
                                                }
                                                @if (comment.User.Id == UserManager.GetUserId(User) || User.IsInRole("Manager"))
                                                {
                                                    <a href="@Url.Action("IsDeleteComment", new { id = @comment.Id })" class="delete-btn btn text-primary" data-toggle="collapse" data-target="#deleteComment@(comment.Id)">Delete</a>
                                                }
                                            }
                                            <div class="collapse" id="replyComment@(comment.Id)">
                                                <input type="text" class="form-control replyInput" placeholder="Write a reply..." />
                                                <button class="saveReplyBtn btn btn-primary" data-parent-id="@comment.Id" data-game-id="@Model.Id">Save Reply</button>
                                                <button class="btn btn-secondary cancel-reply-btn">Cancel</button>
                                            </div>
                                            <div class="collapse" id="editComment@(comment.Id)">
                                                <input type="text" class="form-control editInput" value="@comment.Text" />
                                                <button class="saveEditBtn btn btn-success" data-comment-id="@comment.Id" data-game-id="@Model.Id">Save Edit</button>
                                            </div>
                                            <div class="collapse" id="deleteComment@(comment.Id)">
                                                <a href="@Url.Action("DeleteComment", new { id = @comment.Id })">Save </a>
                                                <a href="@Url.Action("RestoreDeleteComment", new { id = @comment.Id })">Restore </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="comment-list" list="@comment.ChildComments" count="0" style="margin-left: 30px; margin-top:0;">
                                    @if (comment.ChildComments is not null)
                                    {
                                        @foreach (var reply in comment.ChildComments)
                                        {
                                            <div class="d-flex flex-start mt-4">
                                                <a class="me-3" href="#!">
                                                    @if (reply.User.Photo is not null)
                                                    {
                                                        <img src="/Uploads/@reply.User.Photo" style="width: 42px; height: 48px; border-radius: 50%;" />
                                                    }
                                                    else
                                                    {
                                                        <img src="/static-images/default.jpg" style="width: 42px; height: 48px; border-radius: 50%;" />
                                                    }
                                                </a>
                                                <div class="flex-grow-1 flex-shrink-1">
                                                    <div>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-1">
                                                                @reply.User.FirstName @reply.User.LastName
                                                                <span>@reply.Created</span>
                                                            </p>
                                                        </div>
                                                        <p class="small mb-0">@reply.Text</p>
                                                    </div>
                                                    @if (SignInManager.IsSignedIn(User))
                                                    {
                                                        <a aria-expanded="false" href="#" class="reply-btn btn text-primary" data-toggle="collapse" data-target="#replyComment@(reply.Id)">Reply</a>
                                                        @if (reply.User.Id == UserManager.GetUserId(User))
                                                        {
                                                            <a aria-expanded="false" href="#" class="edit-btn btn text-primary" data-toggle="collapse" data-target="#editComment@(reply.Id)">Edit</a>
                                                        }
                                                        @if (reply.User.Id == UserManager.GetUserId(User) || User.IsInRole("Manager"))
                                                        {
                                                            <a href="#" class="delete-btn btn text-primary" data-toggle="collapse" data-target="#deleteComment@(reply.Id)">Delete</a>
                                                        }
                                                    }
                                                    <div class="collapse" id="replyComment@(reply.Id)">
                                                        <input type="text" class="form-control replyInput" placeholder="Write a reply..." />
                                                        <button class="saveReplyBtn btn btn-primary" data-parent-id="@reply.Id" data-game-id="@Model.Id">Save Reply</button>
                                                    </div>
                                                    <div class="collapse" id="editComment@(reply.Id)">
                                                        <input type="text" class="form-control editInput" value="@reply.Text" />
                                                        <button class="saveEditBtn btn btn-success" data-comment-id="@reply.Id" data-game-id="@Model.Id">Save Edit</button>
                                                    </div>
                                                    <div class="collapse" id="deleteComment@(reply.Id)">
                                                        <a href="@Url.Action("DeleteComment", new { id = @reply.Id })">Save </a>
                                                        <a href="@Url.Action("ViewGame", new { id = Model.Id })">Restore </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="comment-list" list="@comment.ChildComments" count="0" style="margin-left: 30px; margin-top:0;">
                                                @if (reply.ChildComments is not null)
                                                {
                                                    @foreach (var replySecond in reply.ChildComments)
                                                    {
                                                        <div class="d-flex flex-start mt-4">
                                                            <a class="me-3" href="#!">
                                                                @if (replySecond.User.Photo is not null)
                                                                {
                                                                    <img src="/Uploads/@replySecond.User.Photo" style="width: 42px; height: 48px; border-radius: 50%;" />
                                                                }
                                                                else
                                                                {
                                                                    <img src="/static-images/default.jpg" style="width: 42px; height: 48px; border-radius: 50%;" />
                                                                }
                                                            </a>
                                                            <div class="flex-grow-1 flex-shrink-1">
                                                                <div>
                                                                    <div class="d-flex justify-content-between align-items-center">
                                                                        <p class="mb-1">
                                                                            @replySecond.User.FirstName @replySecond.User.LastName
                                                                            <span>@replySecond.Created</span>
                                                                        </p>
                                                                    </div>
                                                                    <p class="small mb-0">@replySecond.Text</p>
                                                                </div>
                                                                @if (SignInManager.IsSignedIn(User))
                                                                {
                                                                    <a aria-expanded="false" href="#" class="reply-btn btn text-primary" data-toggle="collapse" data-target="#replyComment@(replySecond.Id)">Reply</a>
                                                                    @if (replySecond.User.Id == UserManager.GetUserId(User))
                                                                    {
                                                                        <a aria-expanded="false" href="#" class="edit-btn btn text-primary" data-toggle="collapse" data-target="#editComment@(replySecond.Id)">Edit</a>
                                                                    }
                                                                    @if (replySecond.User.Id == UserManager.GetUserId(User) || User.IsInRole("Manager"))
                                                                    {
                                                                        <a href="#" class="delete-btn btn text-primary" data-toggle="collapse" data-target="#deleteComment@(replySecond.Id)">Delete</a>
                                                                    }
                                                                }
                                                                <div class="collapse" id="replyComment@(replySecond.Id)">
                                                                    <input type="text" class="form-control replyInput" placeholder="Write a reply..." />
                                                                    <button class="saveReplyBtn btn btn-primary" data-parent-id="@replySecond.Id" data-game-id="@Model.Id">Save Reply</button>

                                                                </div>
                                                                <div class="collapse" id="editComment@(replySecond.Id)">
                                                                    <input type="text" class="form-control editInput" value="@replySecond.Text" />
                                                                    <button class="saveEditBtn btn btn-success" data-comment-id="@replySecond.Id" data-game-id="@Model.Id">Save Edit</button>
                                                                </div>
                                                                <div class="collapse" id="deleteComment@(replySecond.Id)">
                                                                    <a href="@Url.Action("DeleteComment", new { id = @replySecond.Id })">Save </a>
                                                                    <a href="@Url.Action("ViewGame", new { id = Model.Id })">Restore </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </ul>
                                        }
                                    }
                                </ul>
                            </div>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('#saveCommentBtn').click(function () {
                    console.log('Save Comment button clicked');
                    var gameId = $(this).data('game-id');
                    var text = $('#commentInput').val();

                    var data = {
                        GameId: gameId,
                        Text: text
                    };

                    $.post('/Game/CreateComment', data, function (response) {
                        $('#commentInput').val('');

                        $('#comment-container').append(response);

                        var newComment = $('#comment-container .comment:last');
                        $('html, body').animate({
                            scrollTop: newComment.offset().top
                        }, 500);

                        location.reload();
                    });
                });

                $('.cancel-reply-btn').click(function () {
                    var container = $(this).closest('.collapse');
                    container.find('.replyInput').val('');
                    container.collapse('hide');
                });


                $('.comment-button').click(function () {
                    var container = $(this).closest('.move-margin').find('.comment-input-container');
                    container.show();
                    container.find('.comment-input').focus();
                });

                $('.cancel-comment-btn').click(function () {
                    var container = $(this).closest('.comment-input-container');
                    container.hide();
                    container.find('.comment-input').val('');
                });



                $('.saveReplyBtn').click(function () {
                    $(document).on('click', '.saveReplyBtn', function () {
                        console.log('Save Reply button clicked');
                        var parentId = $(this).data('parent-id');
                        var text = $(this).siblings('.replyInput').val();
                        var gameId = $(this).data('game-id');

                        var data = {
                            GameId: gameId,
                            Text: text,
                            ParentCommentId: parentId
                        };

                        var replyButton = $(this);

                        $.post('/Game/CreateComment', data, function (response) {

                            var newCommentHtml = '<div class="comment" data-comment-id="' + response.commentId + '"><p>' + text + '</p>...</div>';
                            replyButton.closest('.comment').find('.comment-list').append(newCommentHtml);
                            replyButton.siblings('.replyInput').val('');
                            location.reload();

                        });
                    });

                });

                $('.edit-btn').click(function () {
                    var commentId = $(this).data('comment-id');
                    var editInput = $(`#editComment${commentId}`).find('.editInput');
                    var saveEditBtn = $(`#editComment${commentId}`).find('.saveEditBtn');

                    editInput.show();
                    saveEditBtn.show();

                    $(this).closest('.comment').find('p').hide();
                });

                $('.saveEditBtn').click(function () {
                    var commentId = $(this).data('comment-id');
                    var text = $(`#editComment${commentId}`).find('.editInput').val();
                    var gameId = $(this).data('game-id'); // Add this line to get the gameId

                    // Capture the correct reference to $(this) before the $.post
                    var saveEditBtn = $(this);

                    $.post('/Game/UpdateComment', { Id: commentId, Text: text, GameId: gameId }, function (response) {
                        if (response.success) {
                            $(`#editComment${commentId}`).find('p').text(text).show();
                            $(`#editComment${commentId}`).find('.editInput').hide();
                            // Use the correct reference to saveEditBtn
                            saveEditBtn.hide();
                            location.reload();
                        } else {
                            location.reload();
                        }
                    });
                });

            });
        </script>
    }
    <script>
        $(document).ready(function () {
            $('.buy-game').on('click', function (e) {
                e.preventDefault();

                var gameId = $(this).data('game-id');
                var userId = $(this).data('user-id');

                $.ajax({
                    type: 'POST',
                    url: '/Cart/CreateCartItem',
                    data: { GameId: gameId, UserId: userId, Count: 1 },
                    success: function (data) {
                        console.log('CartItem created: ' + data);
                    },
                    error: function (error) {
                        console.error('Error creating CartItem: ' + error);
                    }
                });
                getCartItemCount();
            });
        });

    </script>
