<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


@using GameStore.Application.UseCases.Games

@{
    Layout = "_Layout";
}

@model GameResponse

<div class="move-margin">
    <!-- Game Details -->
    <div class="card text-white border-0" style="background-color: #1e1e1e; width: 100%;">
        <!-- Game Image -->
        <div class="image-container-view">
            <img src="~/@Model.Picture" alt="@Model.Name" class="img-fluid" />
        </div>
        <div class="card-body">
            <!-- Game Title and Price -->
            <div class="row">
                <div class="col">
                    <p class="text-price lead card-text">@Model.Name</p>
                    <p class="display-6">$@Model.Price</p>
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <a href="#" class="btn btn-success ms-5">BUY</a>
                </div>
            </div>
            <hr />
            <!-- Game Genres -->
            <p>
                @foreach (var genre in Model.Genres)
                {
                    <button class="hidden-corners-button">@genre.Name</button>
                }
            </p>
            <br />
            <!-- Game Description -->
            <div class="row">
                <h6 class="thin-version">@Model.Description</h6>
            </div>
            <br />
            <!-- Edit and Delete Buttons -->
            <div class="row">
                <div class="col">
                    <a asp-action="UpdateGame" asp-route-id="@Model.Id" class="btn btn-primary">Edit Game</a>
                </div>
                <div class="col">
                    <a asp-action="DeleteGame" asp-route-id="@Model.Id" class="btn btn-danger">Delete Game</a>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <div>
                <input type="text" id="commentInput" placeholder="Write a comment..." />
                <button id="saveCommentBtn" data-game-id="@Model.Id">Save</button>
            </div>

            <div id="comments">
                @foreach (var comment in Model.Comments)
                {
                    <div class="comment" data-comment-id="@comment.Id">
                        <p>@comment.Text</p>
                        <div>
                            <input type="text" class="replyInput" id="replyCommentInput" placeholder="Write a reply..." />
                            <button class="saveReplyBtn" data-parent-id="@comment.Id">Save Reply</button>
                            <button class="showRepliesBtn">Show Replies</button>
                        </div>

                        <div class="childComments">
                            @foreach (var reply in comment.ChildComments)
                            {
                                <div class="comment" data-comment-id="@reply.Id">
                                    <p>@reply.Text</p>

                                    <input type="text" class="replyInput" id="replyCommentInput" placeholder="Write a reply..." />
                                    <button class="saveReplyBtn" data-parent-id="@reply.ParentComment.Id">Save Reply</button>
                                    <button class="showRepliesBtn">Show Replies</button>

                                    <!-- Nested replies can be handled similarly -->
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // Handle saving a new comment
            $('#saveCommentBtn').click(function () {
                console.log('Save Comment button clicked');
                var gameId = $(this).data('game-id');
                var text = $('#commentInput').val();
                var commentContainer = $('#comments');

                $.post('/Comment/CreateComment', { GameId: gameId, Text: text }, function (response) {
                    // Handle the response, and if successful, append the new comment to the container
                    if (response.success) {
                        var newCommentHtml = '<div class="comment" data-comment-id="' + response.commentId + '"><p>' + text + '</p>...'; // Add the rest of your comment HTML
                        commentContainer.append(newCommentHtml);
                        $('#commentInput').val(''); // Clear the input field
                    } else {
                        alert('Failed to save the comment. Please try again.');
                    }
                });
            });

            // Handle showing/hiding replies
            $('.showRepliesBtn').click(function () {
                var commentId = $(this).closest('.comment').data('comment-id');
                var childComments = $(this).siblings('.childComments');

                // Toggle visibility of childComments and update button text
                childComments.toggle();
                if (childComments.is(':visible')) {
                    $(this).text('Hide Replies');
                } else {
                    $(this).text('Show Replies');
                }
            });

            // Handle saving a new reply
            $('.saveReplyBtn').click(function () {
                var text = $('#replyCommentInput').val();
                var parentId = $(this).data('parent-id');
                var commentContainer = $(this).closest('.comment').find('.childComments');

                $.post('/Comment/CreateComment', { Text: text, ParentCommentId: parentId }, function (response) {
                    if (response.success) {
                        var newCommentHtml = '<div class="comment" data-comment-id="' + response.commentId + '"><p>' + text + '</p>...'; // Add the rest of your comment HTML
                        commentContainer.append(newCommentHtml);
                        $(this).siblings('.replyInput').find('.replyText').val(''); // Clear the input field
                    } else {
                        alert('Failed to save the reply. Please try again.');
                    }
                });
            });

        });

    </script>

@*

<h2 style="color:white;">Comment</h2>
<form id="comment-form" style="margin-bottom:20px;">
    <input type="hidden" id="game-id" value="@Model.Id" />
    <div class="form-group">
        <textarea class="form-control" id="comment-text" placeholder="Add a comment"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Comment</button>
</form>

<div class="comment-header">
    <strong>@comment.User.UserName</strong>
    <span class="comment-date">@comment.Created.ToString("yyyy-MM-dd HH:mm:ss")</span>
</div>
<div class="comment-text">
    @comment.Text
    <button class="replyBtn" data-parent-id="@comment.Id">Reply</button>
    <button class="showRepliesBtn" data-comment-id="@comment.Id">Show Replies</button>
</div>
<div class="replyInput">
    <input type="text" class="replyText" placeholder="Write a reply..." />
    <button class="saveReplyBtn" data-game-id="@Model.Id" data-parent-id="@comment.Id">Save Reply</button>
</div>*@