@using GameStore.Application.UseCases.Games;
@{
    ViewData["Title"] = "Home Page";
    GameResponse[] Games = ViewData["Games"] as GameResponse[];
}

<div class="container">
    <div class="input-group mb-1 mt-3" style="display:flex; justify-content: space-between; gap: 20px;">
        <div style="display:flex; gap: 5px">
            <a href="@Url.Action("GetAllGenres")" style="color: darkslategrey">
                <i class="fa-solid fa-plus" style="color: white"></i> Add Genre
            </a>
        </div>
        <div class="input-group" style="max-width: 200px;">
            <input id="searchInput" type="text" class="form-control" />
            <div class="input-group-append">
                <button id="searchButton" class="btn btn-info" type="button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
    </div>

    <div style="display:flex; gap:5px">
        <a href="@Url.Action("CreateGame", "Game")" class="btn btn-primary mr-2">
            <i class="fa-solid fa-plus"></i> Add Game
        </a>
    </div>

    @foreach (var game in Games)
    {
        <div class="card text-white bg-dark border-0 box" style="width: 27rem;">
            @if (!string.IsNullOrWhiteSpace(game.Picture))
            {
                <div class="image-container">
                    <a href="Games/details/@game.Id">
                        <img class="card-img-top" src="@Url.Content(game.Picture)" alt="Game image cap" />
                    </a>
                </div>
            }
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        @if (game.Price == 0 || game.Price == null)
                        {
                            <p class="text-price lead">Free</p>
                        }
                        else
                        {
                            <p class="text-price lead">$@game.Price</p>
                        }
                    </div>
                    <div class="col">
                        <h3></h3>
                    </div>
                    <div class="col">
                        <h3></h3>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-success">BUY</a>
                    </div>
                </div>
                <div class="row">
                    @{
                        var genreNames = string.Join(" / ", game.Genres.Select(genre => genre.Name));
                    }
                    <div class="col">
                        <p class="card-text">@genreNames</p>
                    </div>
                    <a href="@Url.Action("ViewGame", "Game", new { id = game.Id })" style="color:white" >@game.Name</a>
                </div>
            </div>
        </div>
    }
</div>
